# Thư mục cache của Python
__pycache__/
*.py[cod]
*$py.class

# Thư mục môi trường ảo (nếu có dùng)
venv/
env/
.env/

# Cấu hình IDE / Text Editor (Visual Studio Code, PyCharm,...)
.vscode/
.idea/

# File hệ thống (HĐH sinh ra)
.DS_Store
Thumbs.db

# File nháp cá nhân (nếu sau này bạn có tạo)
scratch/
temp/
*.log
